.new-post{
  display: flex;
  margin-top: 40px;
  align-items: center;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}

.post-from{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
  padding: 15px;
  height: fit-content;
  width: 50%;
}
.inputs{
  border: none;
  width: 100%;
  margin:20px 0px ;
  border-bottom: 0.5px solid orangered;
  color: rgb(72, 72, 72);
  padding-bottom: 7px;

}

.inputs:focus{
  outline: none;
  border-bottom: 2px solid orangered;
  
}
.post-btn{
  color: white;
  padding: 7px;
  border: none;
  border-bottom: 2px solid orangered;
  width: 30%;
  background-color: rgba(228, 152, 12,0.7);
}
.post-btn:hover{
  transform: scale(1.1);
  transition: 200ms linear;
  cursor: pointer;
}

.loader{
  display: flex;
  width: fit-content;
  margin: 10px auto;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.loader>p{
  color: orange;
}
.spiner{
  width: 100px;
  height: 100px;
  border-left: 3px solid orange;
  border-right: 3px solid orange;
  border-radius: 50%;
  animation-name: spin;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-duration: 1s;

}

@keyframes spin {

  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(350deg);
  }
  
}
