.new-post{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.post-from{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
  padding: 15px;
  height: fit-content;
  width: 50%;
}
.inputs{
  border: none;
  width: 100%;
  margin:20px 0px ;
  border-bottom: 0.5px solid orangered;
  color: rgb(72, 72, 72);
  padding-bottom: 7px;

}

.inputs:focus{
  outline: none;
  border-bottom: 2px solid orangered;
  
}
.post-btn{
  color: grey;
  padding: 5px;
  border: none;
  border-bottom: 2px solid orangered;
  width: 30%;
  background-color: rgba(237, 70, 9,0.3);
}
.post-btn:hover{
  transform: scale(1.1);
  transition: 200ms linear;
  cursor: pointer;
}